@import url(./config/global.css);
@import url(./config/grid.css);
@import url(./componentes/modal/modal.css);
@import url(./componentes/menu/menu-opciones.css); 
@import url(./componentes/tabla/tabla.css);
@import url(./componentes/cuadros-estadisticos/cuadros-estadisticos.css);



.graficas {
    margin-top: 5vh;
    overflow: auto;
    height: 75dvh;
}

.cont-grafica {
    /* padding: 1vw 2vw; */
    border-radius: 1vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    /* box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08); */
    height: 50dvh;
}

.graficas .contenido-graficas {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.graficas .graficas-contenido{
    display: flex;
    justify-content: space-around;
}


/* .graficas .ventas-mes {
    grid-area: ventas-mes;
} */

.titulo-grafica {
    padding: 0.5vw;
    border-bottom: 1px solid rgb(233, 231, 231);
}

.titulo-grafica p {
    font-size: 3vh;
    font-weight: 600;
    color: #00000088;
}

.grafica-ventas-mes canvas {
    width: 580px;
    height: 300px;
}

.grafica-ventas-realizar {
    display: grid;
    justify-content: center;
}


.grafica-ventas-realizar canvas {
    height: 350px;
    width: 300px;
}

.ventas-realizar #myDona {
    height: 30vh;
}

.ventas{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.select-tabla{
    column-gap: 2vw;
    display: flex;
    padding: 25px 10px;
    background-color: #f2f2f2;
    border-radius: 0.5vw;
    justify-content: start;
}

.select-tabla select{
    width: 11vw;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 0.5vw;
}

.tabla th, td {
    padding: 0.7vw 1vw;
}

.tabla{
    width: 60vw;
}

.status-ventas{
    padding: 0.5vw;
}

.contenido-status-ventas{
    display: flex;
    row-gap: 1vw;
    column-gap: 1vw;
    flex-wrap: wrap;
}

.contenido-status-ventas .status{
    display: flex;
    align-items: center;
    width: 7vw;
    justify-content: space-between;
    padding: 0.5vw;
    border-radius: 0.5vw;
    background-color: #f2f2f2;
}

.status .icono-venta{
    display: flex;
    align-items: center;
}

.status .titulo-venta{
    text-align: center;
}

/* ADMIN */

.cabecera .nombre-lider p{
    font-size: 3vw;
    font-weight: 600;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 2vw;
    row-gap: 2vw;
}

.cuerpo .estadisticas{
    display: grid;
    grid-template-areas:
    "ventas promedio";
    justify-content: space-around;
}

.cuerpo .estadisticas .graficas{
    width: 30vw;
}

.cuerpo .estadisticas .indicadores{
    grid-area: promedio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  0 2dvw;
}
.cuerpo .estadisticas .datos-estadisticos{
    grid-area: ventas;
}

.cuerpo .estadisticas .datos-estadisticos .contenido-datos-estadisticos{
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 2dvw; */
    row-gap: 2dvw;
    justify-content: space-between;
    padding: 2dvw 0;
}
.cuerpo .estadisticas .datos-estadisticos .contenido-datos-estadisticos .estadistica {
    display: grid;
    grid-template-areas:
        "valor icono"
        "titulo icono";
    background-color: #ffffff;
    padding: 0.5vw 1.5vw;
    column-gap: 2vw;
    /* row-gap: 2vw; */
    border-radius: 0.5vw;
    justify-content: space-around;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.08);
    height: 11vh;
    width: 10vw;
}

.cuerpo .estadisticas .contenido-datos-estadisticos .titulo {
    grid-area: titulo;
}

.cuerpo .estadisticas .contenido-datos-estadisticos .titulo p {
    color: #00000088;
    font-weight: 600;
    font-size: 1.7vh;
}

.cuerpo .estadisticas .contenido-datos-estadisticos .valor {
    grid-area: valor;
}

.cuerpo .estadisticas .contenido-datos-estadisticos .valor p {
    font-size: 3vh;
    font-weight: 700;
}

.cuerpo .estadisticas .contenido-datos-estadisticos .icono {
    display: flex;
    align-items: center;
    grid-area: icono;
    color: #030303;
}

.cuerpo .estadisticas .contenido-datos-estadisticos .icono i{
    font-size: 5vh;
}

.cuerpo .agentes .contenedor-agentes{
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
}

.cuerpo .agentes .contenedor-agentes .agente{
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.cuerpo .agentes .contenedor-agentes .agente .foto img{
    height: 5vh;
}

.cuerpo .lista-ventas{
    background-color: beige;
}

/*TARJETAS*/

.cuerpo .opciones .tarjetas{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.cuerpo .opciones .tarjetas .tarjeta{
    background-color: #ffffff;
    display: flex;
    padding: 1.2vw 1vw;
    border-radius: 0.5vw;
    height: 60vh;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.cuerpo .opciones .tarjetas .tarjeta .cabecera{
    display: flex;
    column-gap: 2vw;
}

.cuerpo .opciones .tarjetas .tarjeta .cabecera .icono i{
    font-size: 2vw;
}

.cuerpo .opciones .tarjetas .tarjeta .cabecera .titulo p{
    font-size: 1.2vw;
    font-weight: 600;
}

.cuerpo .opciones .tarjetas .tarjeta .cuerpo .descripcion p{
    font-size: 1vw;

}

.cuerpo .opciones .tarjetas .tarjeta .pie{
    text-align: end;
}

.cuerpo .opciones .tarjetas .tarjeta .pie a{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.1vw;
}

.cuerpo .opciones .tarjetas .tarjeta .pie a:hover {
    background-color: var(--hover-primario);
}


.pagina .contenedor .opciones{
    grid-area: opciones;
}

.contenedor .opciones .tarjetas{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.contenedor .opciones .tarjetas .tarjeta{
    background-color: #ffffff;
    display: flex;
    padding: 1.2vw 1vw;
    border-radius: 0.5vw;
    height: 20vh;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor .opciones .tarjetas .tarjeta-equipo{
    display: flex;
    row-gap: 2vh;
    height: 60vh;

}

.tarjeta-equipo .cuerpo .descripcion{
    height: 45vh;
    overflow: auto;
}

.tarjeta-equipo .cuerpo .descripcion ul{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: flex-start;
}

.tarjeta-equipo .cuerpo .descripcion ul li{
    font-size: 1.3vw;
}

.tarjeta .cabecera{
    display: flex;
    column-gap: 2vw;
}

.tarjeta .cabecera .icono i{
    font-size: 2vw;
}

.tarjeta .cabecera .titulo p{
    font-size: 1.2vw;
    font-weight: 600;
}

.tarjeta .cuerpo .descripcion p{
    font-size: 1vw;
}

.tarjeta .pie{
    text-align: end;
}

.tarjeta .pie a{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.1vw;
}

.tarjeta .pie a:hover {
    background-color: var(--hover-primario);
}

/*Fin tarjeta*/

.nombre-lider select{
    width: 20vw;
    border: 1px solid black;
}